<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{subject}}</title>
</head>
<body>
<h2>{{subject}}</h2>
<p>Please verify your account by clicking the link:
    <a href="{{host}}/account/confirm/{{verificationTokenValue}}">{{host}}/profile/confirm/{{verificationTokenValue}}</a> </p>
</body>
</html>
